<div class="content">
  <div class="menu">
    <div class="self">
      <div class="image" style="background-image: url('<%= image_url('avatar.jpg') %>');"></div>
      <div class="name">Berru Lgusya</div>
      <div class="exit"></div>
    </div>
    <h5>Свежие чаты:</h5>
    <div class="dialogs">
      <div class="content_dialog">
        <div class="dialog">
          <div class="image" style="background-image: url('<%= image_url('dia1.jpg') %>');"></div>
          <div class="right">
            <div class="name">Anna Wrote</div>
            <div class="message">Lorem ipsum dolor.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="talk talk-active">
    <div class="message-box">
      <div class="partner">
        <div class="image" style="background-image: url('<%= image_url('dia1.jpg') %>');">
          <div class="name">AW</div>
        </div>
        <div class="name">
          <div>Anna Wrote</div>
          <div class="timeout">была в сети 5 минут назад</div>
        </div>
      </div>
      <div class="messages">
        <div class="partner-message">
          <div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis.</div>
        </div>
        <div class="self-message">
          <div class="message">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="send-box">
        <div class="image" style="background-image: url('<%= image_url('avatar.jpg') %>');"></div>
        <div class="input" tabindex="0" contenteditable="true" role="textbox" aria-multiline="true"></div>
        <input type="submit" value="»" class="submit">
      </div>
    </div>
  </div>
</div>
